services:
  - type: web
    name: memes-rate
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: DISCORD_TOKEN
        sync: false
      - key: CLIENT_ID
        sync: false
      - key: CLIENT_SECRET
        sync: false
      - key: REDIRECT_URI
        value: https://memes-rate.onrender.com/auth/callback
      - key: SESSION_SECRET
        sync: false
      - key: NODE_ENV
        value: production
